.salalivre-title {
	text-align: center;
}
.container {
	margin: 0 10%;
	width: 80%;
}
.box-container{
	border-radius: 5px;
	height: 200px;
}
.title-text {
	color: white;
	text-align: center;
}
.offline .title-text {
	color: #c3c3c3; 
}
.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}

.offline {
	background-color: #e5e5e5;
}
.in-use{
	background-color: #fa5555;

}
.empty{
	background-color: #37ca8d;

}
