<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="static/fonts/open-sans.css">
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
        <style>
            body {
                font-family: 'Open Sans';
            }
        </style>
    </head>
    <body>
        <header class="container-title">
            <h1 class="salalivre-title">
                Sala Livre
            </h1>
        </header>

        <section class="container rooms-container">
        </section>

        <script type="js/template" id="template">
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="thumbnail tile box-container">
                    <h1 class="title-text">
                    </h1>
                </div>
            </div>
        </script>

        <script src="static/js/jquery-2.1.4.min.js"></script>
        <script src="static/js/index.js"> </script>
    </body>
</html>
