<html>
    <head>
    	<meta charset="UTF-8">
    	<title>Sala Livre</title>
    	<link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    	 <link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
    </head>
    <body>
    	<header>
    		<h1 class="salalivre-title">
    			Sala Livre
    		</h1>
    	</header>
    	<section class="container">
    		<div class="row">
    			<div class="col-xs-4">
    			</div>
    		</div>
    	</section>
    </body>
</html>
